.header {
  background-color: $clr-dark;
  opacity: 0.9;
  height: 80vh;
  width: 100%;
  &__nav {
    background-image: linear-gradient(rgba(black, 0.9), rgba(black, 0.9));
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    @include res(lgTab) {
      padding: 0 5rem;
    }
    @include res(phone) {
      justify-content: space-around;
    }
  }

  &__nav-cont {
    display: flex;
    align-items: center;
  }
  &__logo {
    height: 6rem;
    width: 10rem;
    display: flex;
    align-items: flex-end;
    margin-right: 3rem;
    cursor: pointer;
  }
  &__logo-img {
    width: 100%;
  }
  &__list {
    display: flex;
    @include res(phone) {
      height: 0;
      position: absolute;
      top: 8rem;
      right: 15vw;
      flex-direction: column;
      background: rgba(black, 0.9);
      overflow: hidden;
      transition: 0.6s ease;
      &.heightAdded {
        height: 23rem;
      }
    }
  }
  &__list-items {
    list-style: none;
    @include res(phone) {
      // display: none;
      padding: 1rem 3rem;
    }
  }
  &__link:link,
  &__link:visited {
    color: $clr-white;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: -1.5px;
    transition: all 0.4s ease-in;
  }
  &__link:hover {
    color: $clr-pr;
  }
  &__buttons {
    display: flex;
    align-items: center;
    @include res(phone) {
      display: none;
    }
  }
  &__text {
    position: absolute;
    left: 5%;
    top: 40%;
  }
  &__h1 {
    font-size: 5rem;
    letter-spacing: -4px;
    font-style: italic;
    padding: 2rem 0;
    color: $clr-pr;
    text-transform: uppercase;
    text-shadow: -5px 5px 8px darken($clr-blue, 30%);
    @include res(lgTab) {
      font-size: 4rem;
    }
    @include res(phone) {
      font-size: 3rem;
      letter-spacing: -1px;
    }
  }
}

// END OF HEADER PART

// gallery

.gallery {
  background-image: url("../img/y9laa5owgaq21.jpg");
  background-position: center;
  background-size: cover;
  max-height: 140vh;
  width: 100%;
  z-index: -1;
  padding-bottom: 15rem;

  &__main-cont {
    display: flex;
    justify-content: center;
  }
  &__imba {
    max-width: 80rem;
    position: relative;
    margin: 0 3rem;
    margin-bottom: 3rem;
    overflow: hidden;
    cursor: pointer;
  }

  &__imba:hover &__main-img-text {
    bottom: 1.6rem;
  }
  &__imba:hover &__main-img {
    transform: scale(1.1);
  }

  &__main-img {
    width: 100%;

    object-fit: cover;
    transition: all 0.6s linear;
  }

  &__main-img-text {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    transition: 0.6s linear;
  }
  &__main-img-h4 {
    color: $clr-blue;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  &__main-img-p {
    color: $clr-white;
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: -3px;
    font-style: italic;
    font-weight: 600;
  }
  &__sec {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__sec-cont {
    display: flex;
    justify-content: center;
    max-width: 80rem;
    margin: 0 3rem;
  }
  &__sec-img {
    width: calc(50% - 1.5rem);
    max-height: 25rem;
    object-fit: cover;
    transition: all 0.6s linear;
    cursor: pointer;

    &:last-of-type {
      margin-left: 3rem;
    }
    &:hover:first-of-type {
      transform: translatey(-1.5rem);
    }
    &:hover:last-of-type {
      transform: translatey(-1.5rem);
    }
  }
}

// sm gallery

.sm-gallery {
  background-image: url(../img/iuxcs6otatmmsarozll7tm5ivntzz5onwi4z0utlleflmgmuojzanfghxpdzfxbl-.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5rem 0;
  width: 100%;
  &__cont {
    width: 100%;
    display: flex;

    padding: 0 10rem;
    @include res(lgTab) {
      padding: 0 6rem;
    }
    @include res(smTab) {
      padding: 0 2rem;
      justify-content: center;
    }
    @include res(phone) {
      flex-wrap: wrap;
    }
  }
  &__cont-cont {
    flex: 1 1 30rem;
    position: relative;
    margin: 2rem 2rem;
    cursor: pointer;

    border-radius: 40px;
    overflow: hidden;
    box-shadow: -10px 10px 20px $clr-pr;
    transition: all 0.6s ease;

    @include res(smTab) {
      flex: 0 1 30rem;
    }
    @include res(phone) {
      flex: 0 1 70%;
      margin: 3rem 2rem;
    }
    &:hover {
      transform: translatey(-1.5rem);
      box-shadow: -15px 15px 30px $clr-pr;
    }
  }
  &__cont-cont:hover &__cont-img {
    transform: scale(1.1);
  }
  &__cont-cont:hover::before {
    opacity: 0;
  }
  &__cont-img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    transition: all 0.6s ease;
    @include res(phone) {
      height: 30rem;
    }
  }
}

// membership

.member {
  background: linear-gradient(
      to right,
      rgba($clr-dark, 0.9),
      rgba($clr-dark, 0.2)
    ),
    url("../img/Borderlands-3_02.jpg");
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 15rem;
    align-items: flex-start;
    text-align: center;
    @include res(lgTab) {
      padding: 0 10rem;
    }
    @include res(smTab) {
      align-items: center;
    }
    @include res(phone) {
      padding: 0 5rem;
    }
  }

  &__logo {
    padding-top: 2rem;
    height: 8rem;
    width: 14rem;
  }
}

// gearbox
.gearbox {
  background: url("../img/purple\ haze.jpg");
  background-position: center;
  background-size: cover;
  padding: 5rem 0;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 15rem;
    align-items: flex-end;
    text-align: center;
    @include res(lgTab) {
      padding: 0 10rem;
    }
    @include res(smTab) {
      align-items: center;
    }
  }
  &__logo {
    width: 16rem;
  }
}

//tabs

.tabs {
  background-image: linear-gradient(
      rgba(darken($clr-blue, 60%), 0.5),
      rgba($clr-blue, 0.6),
      rgba(darken($clr-blue, 60%), 0.6)
    ),
    url("../img/pandora.png");
  background-position: center;
  background-size: cover;
  padding: 0 0 5rem 0;
  text-align: center;
  &__pic {
    max-width: 90rem;
    position: relative;
    margin: 0 auto;
    display: none;
  }
  &__pic.select {
    display: block;
  }
  &__pic-img {
    width: 100%;
    @include res(lgTab) {
      padding: 0 3rem;
    }
  }
  &__buttons {
    margin-top: 2rem;

    & > :last-child {
      margin-left: 0rem;
    }
    & > :not(:first-child) {
      margin-left: 2rem;
      @include res(sphone) {
        margin-left: 0.5rem;
        margin-bottom: 2rem;
      }
    }
  }

  &__text {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    display: none;
  }
  &__text.select {
    display: block;
  }
}

// communty

.community {
  background-image: url(../img/iuxcs6otatmmsarozll7tm5ivntzz5onwi4z0utlleflmgmuojzanfghxpdzfxbl-.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 0 5rem 0;
  width: 100%;

  &__containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__container {
    flex: 0 1 25rem;
    padding-bottom: 3rem;
    position: relative;
    transition: all 0.4s ease;
    @include res(phone) {
      flex: 0 1 70%;
    }
    &:hover {
      transform: scale(1.1);
    }
    &:hover &-text {
      opacity: 1;
    }
    &:nth-of-type(2) {
      margin: 0 3rem;
    }
    &:nth-of-type(4) {
      margin: 0 3rem;
    }
  }
  &__container-text {
    position: absolute;
    bottom: 4rem;
    left: 1rem;
    color: $clr-white;
    opacity: 0;
    font-size: 1.4rem;
    transition: all 0.4s ease;
  }
  &__container-img {
    width: 100%;
    object-fit: cover;
  }
}

//buy

.buy {
  background: linear-gradient(
      to right,
      rgba($clr-dark, 0.1),
      rgba($clr-dark, 0.4),
      rgba($clr-dark, 0.4),
      rgba($clr-dark, 0.1)
    ),
    url(../img/Sky-Clouds_1920.jpg);
  background-position: 0% 50%;
  background-size: cover;
  padding: 0 0 5rem 0;
  width: 100%;

  &__container {
    display: flex;
    padding: 0 20rem;
    justify-content: space-between;

    @include res(smTab) {
      flex-wrap: wrap;
      padding: 0 8rem;
    }
    @include res(phone) {
      justify-content: center;
    }
  }

  &__img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    width: 20rem;
    cursor: pointer;
    transition: all 1s ease;
    @include res(phone) {
      width: 40rem;
    }
    &:hover {
      transform: scale(1.06);
    }
  }
}

//ee

.news {
  background: linear-gradient(to right, rgba($clr-dark, 0.8)),
    url(../img/Sky-Clouds_1920.jpg);
  background-position: 50% 100%;
  background-size: cover;
  padding: 0 0 5rem 0;
  width: 100%;
}

// footer

.footer {
  background-color: $clr-dark;
  padding: 4rem 15rem;
  position: relative;
  @include res(smTab) {
    padding: 4rem 10rem 10rem 10rem;
  }

  &__terms {
    display: flex;
    margin-bottom: 4rem;
    @include res(phone) {
      display: block;
      text-align: center;
    }
  }
  &__esrb {
    margin-right: 4rem;
    @include res(phone) {
      text-align: center;
      margin-bottom: 4rem;
      margin-right: 0;
    }
  }

  &__privacy-links {
    display: flex;
    margin-bottom: 1rem;
    @include res(phone) {
      justify-content: center;
      margin-bottom: 4rem;
    }
  }
  &__privacy-link {
    padding-right: 0.6rem;

    git &:not(:last-of-type) {
      border-right: 2px solid $clr-pr;
    }
    &:not(:first-of-type) {
      padding-left: 0.6rem;
    }
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
      color: $clr-pr;
    }
  }
  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    padding: 0 1rem;
    @include res(phone) {
      width: 7rem;
    }
  }
}

// MEDIA PAGE

.header--media {
  height: auto;
  width: 100%;
  background-image: linear-gradient(
      rgba(darken($clr-blue, 60%), 0.5),
      rgba($clr-blue, 0.6),
      rgba(darken($clr-blue, 60%), 0.6)
    ),
    url("../img/pandora.png");
  background-position: center;
  background-size: cover;

  &__gallery {
    padding: 3rem 0 8rem 0;
    margin: 0 auto;
    max-width: 100rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2rem;
    grid-template-areas:
      "img1 img2 img2 img5"
      "img4 img4 img6 img6"
      "img9 img9 img3 img3"
      "img9 img9 img8 img8"
      "img7 img7 img7 img7";
  }

  &__svg {
    width: 4rem;
    height: 4rem;
    fill: rgba($clr-white, 0);
    transition: fill 0.4s ease, transform 1.2s ease;
    z-index: 1111;
  }
}
.image {
  height: 25rem;
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.4s ease;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($clr-dark, 0);
    transition: 0.4s ease;
  }
  &:hover::before {
    background-color: rgba($clr-dark, 0.6);
  }
  &:hover .header--media__svg {
    fill: rgba($clr-white, 1);
    transform: scale(1.4);
  }
}

.img-1 {
  background: url("../img/3519480-3518478-screen+shot+2019-04-03+at+11.43.22.png");
  grid-area: img1;
  background-position: center;
  background-size: cover;
}

.img-2 {
  background: url("../img/2KGMKT_BL3_Launch_Screenshots_CalypsoTwins_3840x2160.0.jpg");
  grid-area: img2;
  background-position: center;
  background-size: cover;
}

.img-3 {
  background: url("../img/960x0.jpg");
  grid-area: img3;
  background-position: center;
  background-size: cover;
}

.img-4 {
  background: url("../img/Borderlands-3_02.jpg");
  grid-area: img4;
  background-position: center;
  background-size: cover;
}

.img-5 {
  background: url("../img/enemies.jpg");
  grid-area: img5;
  background-position: center;
  background-size: cover;
}

.img-6 {
  background: url("../img/mouthpiece.png");
  grid-area: img6;
  background-position: center;
  background-size: cover;
}

.img-7 {
  background: url("../img/pandora.png");
  grid-area: img7;
  background-position: center;
  background-size: cover;
}

.img-8 {
  background: url("../img/y9laa5owgaq21.jpg");
  grid-area: img8;
  background-position: center;
  background-size: cover;
}

.img-9 {
  background: url("../img/zane.jpg");
  grid-area: img9;
  background-position: center;
  background-size: cover;
  height: auto;
}
